<!-- extent from base layout -->
{% extends "base.html" %}

{% block content %}

    <h1>{{ title }}</h1>
    {% if user.is_authenticated %}
        <p>You've already logged in as <strong>{{ user.nickname }}</strong>. | <a href="{{ url_for('logout') }}">Log out</a></p>
    {% else %}
        <p>Please select a method:</p>
        <ul>
            <form action="" method="post" name="root_login">
            {{ root_form.hidden_tag() }}
            <li>Login as root (password): {{ root_form.root_pwd }} | <input type="submit" value="Root it"></li>
            </form>
            <form action="" method="post" name="user_login">
            {{ user_form.hidden_tag() }}
            <li>User your own account: <br>
                User: {{ user_form.username }} | Remember me: {{user_form.remember_me }}<br>
                Password: {{ user_form.user_pwd }} | <input type="submit" value="Login"></li>
            </form>
            <li><a href="{{ url_for('new_user') }}">Create new account</a></li>
            <li><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login as Facebook user</a></li>
        </ul>
    {% endif %}
{% endblock %}