<!-- extent from base layout -->
{% extends "base.html" %}

{% block content %}

    <h1>{{ title }}</h1>
    {% if user.is_authenticated %}
        <p>{{ _('You\'ve already logged in as') }}<strong> {{ user.nickname }}</strong>. | <a href="{{ url_for('logout') }}">{{ _('Log out') }}</a></p>
    {% else %}
        <p>{{ _('Please select a login method:') }}</p>
    <div class="well">
    <form class="form-inline" role="form" action="" method="post" name="root-login">
        {{ root_form.hidden_tag() }}
        <div class="form-group">
            <label for="root_pwd">{{ _('Login as root (password required)') }}</label>
            {{ root_form.root_pwd }}
        </div>
        <button type="submit" class="btn btn-default">{{ _('Root it!') }}</button>
    </form>
    </div>
    <div class="well">
    <form class="form-inline" role="form" action="" method="post" name="user-login">
        {{ user_form.hidden_tag() }}
        <div class="form-group">
            <label for="username">{{ _('Username') }}</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="user_pwd">{{ _('Password') }}</label>
            {{ user_form.user_pwd }}
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>{{user_form.remember_me }} {{ _('Remember me') }}</label>
            </div>
        </div>
        <button type="submit" class="btn btn-default">{{ _('Login') }}</button>
    </form>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
        <a href="{{ url_for('new_user') }}">{{ _('Create new account') }}</a></button>
        <button type="button" class="btn btn-default">
        <a href="{{ url_for('oauth_authorize', provider='facebook') }}">{{ _('Login as Facebook user') }}</a></button>
    </div>
    {% endif %}
{% endblock %}