<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="media">
  <div class="media-left">
      <img class="media-object" src="{{ user.avatar(100) }}" alt="{{ user.nickname }}">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ _('User:') }} {{ user.nickname }}</h4>
        <p>{{ _('Email:') }} <a href="mailto: {{ user.email }}">{{ user.email }}</a></p>
        {% if user.about_me %}<p>{{ _('About me:') }} <b>{{ user.about_me }}</b></p>{% endif %}
        {% if user.last_seen %}<p><small><em>{{ _('Last seen:') }} <b>{{ momentjs(user.last_seen).calendar() }}</b></em></small></p>{% endif %}
  </div>
</div>
<div class="btn-group" role="group">
    {% if user.id == g.user.id %}
        <button type="button" class="btn btn-default">
        <a href="{{ url_for('edit') }}">{{ _('Edit Profile') }}</a></button>
    {% elif not g.user.is_following(user) %}
        <button type="button" class="btn btn-default">
        <a href="{{ url_for('follow', nickname=user.nickname) }}">{{ _('Follow') }}</a></button>
    {% else %}
        <button type="button" class="btn btn-default">
        <a href="{{ url_for('unfollow', nickname=user.nickname) }}">{{ _('Unfollow') }}</a></button>
    {% endif %}
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p>{{ _('Following...') }}</p>
                </div>
                <div class="panel-body">
                    {% if following.count() > 1 %}
                        {% for u in following %}
                            {% if u.id != user.id %}
                            <div><p><img src="{{ u.avatar(40) }}" class="img-thumbnail">
                                <a href="{{ url_for('user', nickname=u.nickname) }}">{{ u.nickname }}</a></p></div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>{{ _('Nobody yet...') }}
                            {% if user.id == g.user.id %}
                            <a href="{{ url_for('profiles') }}">{{ _('Search users') }}</a></p>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                <p>{{ _('Followed by...') }}</p>
                </div>
                <div class="panel-body">
                {% for u in followers %}
                    {% if u.id != user.id %}
                    <div><p><img src="{{ u.avatar(40) }}" class="img-thumbnail">
                        <a href="{{ url_for('user', nickname=u.nickname) }}">{{ u.nickname }}</a></p></div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-success">
                <div class="panel-heading">
                <p>{{ _('Timeline') }}</p>
                </div>
                <div class="panel-body">
                    {% for post in posts.items %}
                        {% include 'post.html' %}
                    {% endfor %}
                    <nav>
                      <ul class="pagination">
                        {% if posts.has_prev %}
                          <li>
                          <a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo; {{ _('Previous') }}</span></a>
                          </li>
                        {% endif %}
                        {% if posts.has_next %}
                          <li>
                          <a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}" aria-label="Next">
                          <span aria-hidden="true">{{ _('Next') }} &raquo;</span></a>
                          </li>
                        {% endif %}
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}